name: Deploy Azure Functions API

on:
  push:
    branches:
      - main
    paths:
      - "NotifyMe.Functions/**"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Restore dependencies
        run: dotnet restore src/NotifyMe.Functions/NotifyMe.Functions/NotifyMe.Functions.csproj

      - name: Build
        run: dotnet build src/NotifyMe.Functions/NotifyMe.Functions/NotifyMe.Functions.csproj --configuration Release

      - name: Publish
        run: dotnet publish src/NotifyMe.Functions/NotifyMe.Functions/NotifyMe.Functions.csproj --configuration Release --output ./publish



      - name: Deploy to Azure Function App
        uses: azure/functions-action@v1
        with:
          app-name: "notifyme-api"
          package: "./publish"